@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Upload" method="post" enctype="multipart/form-data">
    <div>
        <label for="googleDocUrl">Url Google document</label>
        <input type="text" name="googleDocUrl" required />
    </div>
    <div>
        <label for="htmlFile">HTML File</label>
        <input type="file" name="htmlFile" accept=".html" required />
    </div>
    <div>
        <input type="checkbox" id="highlight" name="highlight" value="false" />
        <label for="highlight">
            Highlight Russian text
        </label>
    </div>
    <button type="submit">Upload</button>
</form>